<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Detail</title>
</head>
<body>
    <a href="{% url 'photo:photo_list' %}"><div>리스트 보기</div></a>
    <img src="{{ object.photo.url }}" alt="">
    {% for comment in comments %}
    <p><span>{{comment.author|truncatechars:'10'}} : </span>{{ comment.reply }}</p>
    {% empty %}
    <h3>사진에 코멘트가 없습니다.</h3>

    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn">등록</button>
    </form>

</body>
</html>